#button-view {
  margin: 10px;
  padding: 1opx;
  font-size: 18px;
}
.gif:hover {
  color: black;
  transform: skewY(-3deg);
}
.gif {
  margin: 12px;
  padding: 3px 9px;
  width: 85px;
  background-image: linear-gradient(to right bottom, #6b6b69, #129b79);
  color: white;
  font-size: 16px;
  border-radius: 8px;
}
body {
  background-image: url("background.jpg");
  animation: clouds_anim 5s linear infinite;
}
@keyframes clouds_anim {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: -2000, 0;
  }
}

#animal-form {
  float: right;
  font-size: 20px;
  color: white;
  margin-right: 15px;
}
#add-animal {
  float: right;
  width: 83px;
  font-size: 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.gif-appear-here {
  display: inline-flex;
  flex-wrap: wrap;
}
.animal-img {
  margin: 8px;
  padding: 8px;
}

#style {
  margin: 10px;
  padding: 10px;
}
p {
  text-align: center;
}
h1 {
  color: white;
  font-size: 30px;
  font-weight: 200;
  font-family: "Abril Fatface", cursive;
}
